html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

#favDialog {
  text-align: center;
}

#favDialog .fa {
  margin-right: 10px;
  color: blue;
}

#favDialog p {
  font-weight: bold;
}
