* {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding-top: 6vh;
  height: auto;
  display: flex;
  justify-content: center;
}

.center {
  text-align: center;
}

.centerTable {
  margin-left: auto;
  margin-right: auto;
}

.content {
  font-family: Arial, Helvetica, sans-serif;
  width: 950px;
  flex-direction: column;
}

.row {
  margin-top: 35px;
}

.btn {
  width: 145px;
  height: 35px;
  border-radius: 10px;
}

.btnSubmit {
  font-weight: bold;
  background: cyan;
  border: 2px solid black;
}

.inputBox {
  margin-left: 50px;
  width: 230px;
  height: 30px;
  border-radius: 5px;
}

.alignRight {
  text-align: right;
}

td {
  padding-top: 15px;
}

.login-btn {
  margin-top: 15px;
}

.register-btn {
  margin-left: 5px;
}

.register-table td,
.login-table td {
  padding-top: 15px;
}

.welcome-text {
  margin: 45px 0;
}

.navbar {
  width: 100%;
  background-color: #bfbfbf;
  overflow: auto;
  border-radius: 7px;
}

.navbar a {
  border: 2px solid black;
  float: left;
  padding: 12px;
  color: black;
  text-decoration: none;
  font-size: 17px;
  width: 23.5%;
  text-align: center;
}

.more {
  padding-left: 160px;
}

.btn-register {
  margin-top: 10px;
  margin-left: 50px;
}

.more-login {
  padding-left: 90px;
}

.btn-login {
  margin-top: 10px;
  margin-left: 50px;
}

.login-success-container {
  padding-top: 2vh;
  height: auto;
  display: flex;
  justify-content: center;
}

.heading {
  margin-bottom: 60px;
}

#active-link {
  background-color: white;
  color: black;
}

.header {
  margin: auto;
  border-radius: 4px;
  margin-top: 2vh;
  width: 100%;
  border: 2px solid black;
}

.header-text {
  display: inline-block;
  text-align: center;
  width: 97.2%;
  font-size: 20px;
  padding: 10px 0;
}

.close-icon {
  background-color: #ffffff;
  border: 2px solid black;
  padding: 10px 15px;
}

.messages-container {
  height: 50vh;
  border: 1px solid black;
}

.messages-div {
  margin-top: 50px;
  margin-left: 15px;
}

.messaging {
  border: 2px solid black;
  border-top: 1px solid black;
  width: 100%;
  font-weight: bold;
  padding: 15px 0;
  text-align: center;
}
.chat-text {
  width: 70%;
  padding: 5px 0;
  font-size: 20px;
  border-radius: 5px;
  margin: 0 25px;
}
.chat-text::placeholder {
  padding-left: 10px;
}
.msg-el {
  padding: 0;
  margin: 0 0 0.5px 0;
}
.btn-chats {
  font-weight: bolder;
}

.users-list-table {
  width: 99.5%;
  /* height: 70vh; */
  outline: 1px solid black;
  border-radius: 5px;
  border-collapse: collapse;
  border-style: hidden;
  border-bottom: 1px solid black;
  margin: auto;
  overflow-x: hidden;
  font-size: 18px;
}

.td-center {
  text-align: center;
}

.users-list-table tr:nth-child(even),
.manage-documents-table tr:nth-child(even) {
  background-color: #dfdfdf;
}

.users-list-table td,
.manage-documents-table td,
.manage-documents-table th {
  border-right: 1px solid black;
}

.primary-td {
  width: 40%;
}

.empty-row td {
  padding: 18px;
  border-style: 0 solid black;
}

.table-header {
  background-color: #bfbfbf;
  height: 40px;
}

.users-list-table a,
.manage-documents-table a {
  text-decoration: none;
  color: black;
}
.users-list-h1 {
  margin: 20px 0 20px 20px;
}

.manage-documents-table {
  width: 100%;
  /* height: 28vh; */
  outline: 1px solid black;
  border-radius: 5px;
  border-collapse: collapse;
  border-style: hidden;
  border-bottom: 1px solid black;
  overflow-x: hidden;
  font-size: 18px;
}

.last-td {
  position: relative;
}

.stick {
  position: absolute;
  bottom: 3px;
  left: 0;
  border: 1px solid black;
  font-weight: normal;
}

.stick span {
  font-size: 18px;
  /* margin-right: 1%; */
}

.second-heading {
  margin: 40px 0;
}

.choose-user-h3 {
  display: inline;
  /* margin-right: 42em; */
}

.button-white {
  background-color: white;
}

.logout-msg {
  text-align: center;
  margin-top: 100px;
}

.logout-text {
  margin-left: 25px;
}
