* {
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  width: 150px;
  height: 35px;
  border-radius: 10px;
  border: 2px solid black;
}

.btnSubmit {
  font-weight: bold;
  background: cyan;
}

.btn-close {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  font-weight: bolder;
  text-align: center;
}

.inputBox {
  margin-left: 50px;
  width: 230px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid black;
}

.alignRight {
  text-align: right;
}

.navbar {
  width: 100%;
  background-color: #bfbfbf;
  overflow: auto;
  border-radius: 7px;
}

.navbar a {
  border: 2px solid black;
  float: left;
  padding: 12px;
  color: black;
  text-decoration: none;
  font-size: 17px;
  width: 23.5%;
  text-align: center;
}

#active-link {
  background-color: white;
  color: black;
}

.header {
  margin: auto;
  border-radius: 4px;
  margin-top: 2vh;
  width: 100%;
  border: 1px solid black;
}

.header-text {
  display: inline-block;
  text-align: center;
  width: 97.2%;
  font-size: 20px;
  padding: 10px 0;
}

.close-icon {
  background-color: rgb(199, 199, 199);
  border: 2px solid black;
  padding: 10px 15px;
}

.my-table td {
  padding: 10px;
}

.my-table {
  width: 100%;
  border-collapse: separate;
  border: 2px solid black;
  border-radius: 3px;
  border-spacing: 0px;
  margin: 25px 0;
  font-size: 0.9em;
}

.strong {
  font-weight: bold;
}

.my-table thead th:first-child {
  border-right: 2px solid black;
}

.my-table thead th:nth-child(2) {
  border-right: 2px solid black;
}

.my-table thead th:nth-child(3) {
  border-right: 1px solid black;
}

.my-table tbody td:first-child {
  border-right: 2px solid black;
}

.my-table tbody td:nth-child(2) {
  border-right: 2px solid black;
}

.my-table thead tr {
  background-color: #c0bcbc;
  text-align: left;
}

.alignCenter {
  text-align: center;
}

.my-table thead th {
  padding-left: 5px;
  height: 35px;
}

.my-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.my-table tbody td {
  border-right: 1px solid black;
  height: 18px;
  padding-left: 5px;
}

.my-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.my-table tbody tr:last-of-type {
  border-bottom: 2px solid black;
}

.noDeco {
  text-decoration: none;
  color: black;
}

.header-text-bold {
  font-weight: bold;
  font-size: 32px;
}

.header-text-regular {
  font-size: 32px;
}

.label-text-bold {
  font-weight: bold;
  font-size: 19px;
}

.addSharingSection {
  padding: 20px 20px 15px;
  border: 2px solid black;
  border-radius: 3px;
}

.addSharingSection button {
  margin-left: 20px;
}

option {
  border-radius: 2px;
}

.btn-add-upload {
  background: cyan;
  font-weight: bold;
}
